# ignore all executable files (Windows)
*.exe

# ignore all object files (Windows)
*.o

# ignore configure directories
.idea/
cmake-build-debug/
.vscode/

# ignore CMakeLists.txt
CMakeLists.txt

# ignore all *.out (Linux)
*.out
